* {background-color: violet;}

h1,h3 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    display: flex;
    justify-content: center;
}
.hidden {
    display: none;
}

.btn {
    padding: 1rem;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 5px;
    border-radius: 1rem;
    cursor: pointer;
    background-color: rebeccapurple;
}

.choice {
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 5px;
    border-radius: 1rem;
    display: block;
    cursor: pointer;
    background-color: rgb(50, 9, 92);
}

.choiceRight {
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 5px;
    border-radius: 1rem;
    display: block;
    cursor: pointer;
    background-color: rgb(50, 9, 92);
}

.selection {
    display: 2000 ms;
}