* {background-color: violet;}

h1,h3 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    display: flex;
    justify-content: center;
}
.hidden {
    display: none;
}

.btn {
    padding: 1rem;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 5px;
    border-radius: 1rem;
    cursor: pointer;
    background-color: rebeccapurple;
}

#test {
    width: 200px;
    height:200px;
}

#test2 {
    width: 400px;
    height:200px;
}